<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>BSnap</string>
    <key>CFBundleIdentifier</key>
    <string>com.kawabaron.bsnap.app</string>
    <key>CFBundleShortVersionString</key>
    <string>1.13</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSCameraUsageDescription</key>
    <string>Allow camera access to take baby photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow photo access to import baby photos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Allow photo library access to save edited photos.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
